:root{
    --roxo: #d361d3;
    --preto: #000000;
    --branco: #f0efef;
    --azul: #2764c0;
}

body{
    background-color: var(--branco);
    color: var(--roxo);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100vh;
    margin: 0;
}


header{
    background-color: var(--roxo);
    text-align: center;
    padding: 1px;
}

h1{
    font-size: 2rem;
    color: var(--branco);
    font-weight: 800;
    font-family:Georgia, 'Times New Roman', Times, serif ;
} 

nav{
    display: flex;
    justify-content: center;
    font-weight: 400;
}

nav a{
    text-decoration: none;
    color: var(--azul);
    margin: 0 2rem 1rem 0rem;
    font-size: 1.2rem;
}

nav a:hover{
    text-decoration: underline;
    transform: scale(0.90);
    transition: transform(0.1s);
}
